@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --red:#ff3838;
}

*{
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}

.header #title{
    color: #333333;
    font-size: 30px;
    padding-left: 70px;
    padding-top: 20px;
    font-family: Roboto,sans-serif;
    cursor: pointer;
    opacity: 1;
}
.header #icon{
    position: fixed;
    top: 16px;
    right:30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
#icon::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: black;
  transform: translateY(-10px);
  transition: 0.25s;
}
#icon::after{
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: black;
  box-shadow: 0 10px 0 0 ;
  transition: 0.25s;
}
#icon.active::after{
    transform: translateY(0px) rotate(45deg);
    box-shadow: none;
}
#icon.active::before{
    transform: translateY(0px) rotate(-45deg);
}
.header #sidebar{
  position: fixed;
  top:0;
  right: -300px;
  background-color: rgb(69, 19, 187);
  transition: 0.5s;
  height: 100vh;
  width: 300px;
  transition: 0.5s;
  z-index: 2;
}
.header #sidebar.active{
  right: 0;
  opacity: 0.9;
}
.header #sidebar ul{
  position: relative;
  margin-top: 100px;
}

.header #sidebar ul li{
  list-style: none;
  display: inline-block;
  width: 100%;
  padding-left:100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header #sidebar ul li:hover{
  background: #19c8e7;
}
.header #sidebar ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
}

.slideshow #pre{
  position: absolute;
  color: #ec8700;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 60px;
  cursor: pointer;
  font-weight: bolder;
  text-align: center;
  line-height: 50px;
  top:280px;
  left: 100px;
}
.slideshow  #next{
  position: absolute;
  color: #ec8700;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 60px;
  cursor: pointer;
  font-weight: bolder;
  text-align: center;
  line-height: 50px;
  top:280px;
  right: 20px;
}
.slideshow{
  position: relative;
  top:30px;
}
.slide{
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}


.box_images #border_box{
  width: 300px;
  height: 392px;
  margin-left: 350px;
  background-color: #ec8700;
  box-sizing: border-box; 
}
.box_images img{
  width:500px;
  height: 558px;
  object-position:100% 49.22%;
  background-position: 100% 49.22%;
  margin-left: 150px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  top: -350px;
  left:50px;
  box-sizing: border-box;
}
.box_images #ordinal{
  position: absolute;
  width: 100px;
  line-height: 100px;
  box-sizing: border-box;
  color: #fff;
  background-color: #ec8700;
  text-align: center;
  flex-shrink: 0;
  height: 100px;
  top:550px;
  left: 150px;
  font-size: 50px ;
}

.box_infor{
  position: absolute;
  background-color: transparent;
  color: #fff;
  background-color: #ec8700;
  box-sizing: border-box;
  width: 650px;
  height: 450px;
  opacity: 0.7;
  margin-left: 600px;
  margin-top: -850px;
}
.box_infor h2{
  font-size: 66px;
  word-wrap: break-word;
  font-family: Roboto,sans-serif;
  padding-left: 100px;
}
.box_infor p{
font-size: 21px;
  word-wrap: break-word;
  padding-top: 30px;
  margin-left: 100px;
  font-family: Roboto,sans-serif;
}
.box_infor button{
  text-align: center;
  font-size: 16px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: 100px;
  background-color: #ec8700;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.25s;
  font-family: Roboto,sans-serif;
  transition: 0.25s;
}
.box_infor button:hover{
  border: none;
  outline: none;
}
.slideshow .slide{
  display: none;
  clip-path: circle(0 at 0 50%);
}
.slideshow .slide.active{
  display: block;
  clip-path: circle(150% at 0 50%);
  transition: 1.5s;
}
.flex{
  display: flex;
  box-sizing: border-box;
  font-family: 'Open Sans',sans-serif;
  position: relative;
  margin-left: 30px;
  align-self: stretch;
  justify-content: space-around;
  top:-100px;
}
.flex_logo{
  box-sizing: border-box;
  border: 1px solid transparent ;
  height: 300px;
  
}

.flex i{
  font-size: 40px;
  margin: 20px 0 20px 117px;
}
.flex .content h3{
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 1;
  font-weight: 100px;
  text-align: center;
}

.flex .content p{
  font-size: 16px;
  font-style: italic;
  word-wrap: break-word;
  margin: 50px 0 0 30px;
  display: block;
  text-align: center;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  
}
.poi{
  position: relative;
  margin-top: 150px;
}
.poi #box_poi{
  position: absolute;
  box-sizing: border-box;
  background-color: #ec8700;
  width: 900px;
  height: 500px;
  margin-left: 250px;
  z-index: -5;
}
.poi .crop{
  position: absolute;
  margin-left: 290px;
  width: 600px;
  height: 500px;
  overflow: hidden;
  top: -130px;
}
.poi .road{
  margin-top: -520px;
  margin-left: -100px;
}
.poi .tree{
  position: absolute;
  width: 326px;
  height: 500px;
  top:120px;
  left: 100px;
}
.poi h3{
  position: absolute;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.1;
  word-wrap: break-word;
  box-sizing: border-box;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  text-align: left;
  color: #fff;
  width: 500px;
  font-family: Roboto,sans-serif;
  left: 600px;
  top: 100px;
}
.poi .bottom{
  position: absolute;
  align-items: center;
  justify-content: space-around;
}
.poi #box-sizing{
  position: absolute;
  box-sizing: border-box;
  width: 15px;
  height: 300px;
  background-color: #ec8700;
  margin-left: 230px;
  margin-top: 500px;
}
.poi .bottom p{
  position: absolute;
  margin-top: 650px;
  margin-left: 260px;
  font-size: 40px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 400px;
  height: 150px;
  font-family: Roboto,sans-serif;
  background-color: #fff;    
  --effect-scale: 1.1;
  line-height: 1.2;
  letter-spacing: 1px;
  font-style:var(--effect-scale);
  font-weight: 300px;
}
.poi .moutian{
  position: absolute;
  width: 400px;
  height: 600px;
  margin-left:700px;
  margin-top: 300px;
   z-index: -1;
}
.text{
  position: absolute;
  box-sizing: border-box;
  top:830px;
  left: 260px;
  width: 750px;
  height: 200px;
  font-family: Roboto,sans-serif;
  background-color: #fff;
}
.text p{
  word-wrap: break-word;
  font-size: 21px;
  color: #333333;
}
.text #learn{
  font-size: 21px;
  font-style: italic;
  color: #ec8700;
  text-decoration: underline;
  transition: 0.25s;
  padding-top: 20px;
}
.text #learn:hover{
  color: #19c8e7;
}